

body{
  background-color:#fffdd0;
  font-family:sans-serif;
  margin:20px;
}
.basicborder{
  border:2px dashed red;
  height: 30px;
}

.typesofborders{
  min-height: 100px;
  width: 300px;
  border-left: dashed red 10px;
  border-right: dotted black 10px;
  border-top: double purple 10px;
  border-bottom: groove orange 10px;
}

.cellpaddingexample{
  border:5px solid green;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.marginexample{
  border: 10px solid blue;
  margin: 20 100 200 50;

}

.floatleft{
float: left;
}

.floatright{
  float: right;
}

.nofloat{
  border: 2px solid blue;
  height: 300px;
  width: 500px;
}

.floatleftbox{
  border: 2px solid purple;
  height: 300px;
  width: 500px;
}

.floatrightbox{
  border: 2px solid orange;
  height: 300px;
  width: 500px;
}



.overflowhiddenbox{
  border: 2px solid green;
  height: 100px;
  width: 800px;
  overflow: hidden;
}

.overflowhidden{
  float: left;
}
