/*I made use of a lot of classes. I don't know if there is a simpler or more elegant method but I was able to make this work*/

body{
  background-color:#fffdd0;
  font-family:sans-serif;
  margin:20px;
}
p.basicborder{
  border:2px dashed red;
  height: 30px;
}

p.typesofborders{
  min-height: 100px; /*I don't remember seeing anything about a minimum height in chapter 3. I found min-height via Google. At first I tried height: 100px but that made the text flow over the border. I also noticed that omitting height all together doesn't make a difference, probably because the width is defined and there is enough text*/
  width: 300px;
  border-width: 10px;
  border-left: dashed red;
  border-right: dotted black;
  border-top: double purple;
  border-bottom: groove orange;
}

p.cellpaddingexample{
  border:5px solid green;
  padding-left: 10px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 100px;
}

p.marginexample{
  border: 10px solid blue;
  margin: 20 100 200 50;

}

section.nofloat{
  border: 2px solid blue;
  height: 300px;
  width: 500px;
}

section.floatleft{
  border: 2px solid purple;
  height: 300px;
  width: 500px;
}
  img.floatleft{float: left;}

section.floatright{
  border: 2px solid orange;
  height: 300px;
  width: 500px;
}
  img.floatright{float: right;}


section.overflowhidden{
  border: 2px solid green;
  height: 100px;
  width: 800px;
  overflow: hidden;
}
  img.overflowhidden{float: left;}
